repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/allganize/ty-pre-commit
    rev: v0.0.18
    hooks:
      - id: ty-check
